#movie_graph{
    width:100%;
    min-height:300px;
}

#movie_graph .axis path,
#movie_graph .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  width: 150px;
  height: 80px;
  pointer-events: none;
  background-color:white;
  border-width:1px;
  border-color:black;
  border-style:solid;
}

body {
  font: 10px sans-serif;
}

.distgraph {
    padding-left:16px;
}

#data-table{
    width:900px;
}

.table_head {
    width:120px;
    display:inline-block;
    font-size:18px;
}

.dc-table-group{
    height:0px;
    color:white;
}

.dc-table-label{
    height:5px;
    font-size:0px;
}

tbody{
    display:table;
}

.dc-table-column{
    width:124px;
    padding-right:24px;
}

._0{
    width:424px;
}

.title{
    width:400px;
}

.score {
    text-align:right;
}

.datarow{
    margin-top:40px;
}

._1{
    text-align:right;
}

._2{
    text-align:right;
}

._3{
    text-align:right;
}